:root {
    --main-color-1: #112222;
    --main-color-2: #112244;
}

body {
    color: #fff;
    background-color: var(--main-color-2);
    padding: 0;
    margin: 0; 
}

input {
    width: 500px;
    height: 30px;
    font-size: 20px;
    font-family: 'Asap', sans-serif;
}

.navbar {
    background-color: var(--main-color-1);
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar > a {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}